<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DeviceSoapHttpBinding_v0p1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding"
        bindingConfiguration="DeviceSoapHttpBinding_v0p1" contract="CHSDevice.DevicePortType_v0p1"
        name="DeviceSoapHttpPort" />
      <endpoint address="http://localhost:9080/CHS_MTW_Weather-mediationWeb/sca/CHS_MTW_WeatherExport" binding="basicHttpBinding" bindingConfiguration="WeatherSoapHttpBinding_v0p11"
                contract="MMWeather.WeatherPortType_v0p1" name="WeatherSoapHttpPort1" />
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DeviceSoapHttpBinding_v0p1" />
        <binding name="DeviceControlSOAPBinding_v0p1" />
        <binding name="IncidentSoapHttpBinding_v0p1" />
        <binding name="PlanSoapHttpBinding_v0p1" />
        <binding name="RouteSoapHttpBinding_v0p1" />
        <binding name="SensorSoapHttpBinding_v0p1" />
        <binding name="TrafficSubCentreSoapHttpBinding_v0p1" />
        <binding name="TransportInfrastructureAssetSOAPBinding_v0p1" />
        <binding name="WeatherSoapHttpBinding_v0p1" />
        <binding name="DeviceSOAPBinding_v0p1" />
        <binding name="DeviceControlSOAPBinding_v0p11" />
        <binding name="IncidentSOAPBinding_v0p1" />
        <binding name="PlanSOAPBinding_v0p1" />
        <binding name="RouteSOAPBinding_v0p1" />
        <binding name="TrafficSubCentreSOAPBinding_v0p1" />
        <binding name="TransportInfrastructureAssetSOAPBinding_v0p11" />
        <binding name="WeatherSoapHttpBinding_v0p11" />
        <binding name="DeviceSoapHttpBinding_v0p11" />
        <binding name="IncidentSoapHttpBinding_v0p11" />
        <binding name="PlanSOAPBinding_v0p11" />
        <binding name="RouteSoapHttpBinding_v0p11" />
        <binding name="SensorSoapHttpBinding_v0p11" />
        <binding name="TrafficSubCentreSoapHttpBinding_v0p11" />
        <binding name="TransportInfrastructureAssetSOAPBinding_v0p12" />
        <binding name="WeatherSoapHttpBinding_v0p12" />
        <binding name="DeviceSoapHttpBinding_v0p12" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="DeviceSoapHttpBinding_v0p1" contract="CHSDevice.DevicePortType_v0p1" name="DeviceSoapHttpPort" />
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="DeviceControlSOAPBinding_v0p1" contract="CHSDeviceControl.DeviceControlPortType_v0p1" name="DeviceControlSOAP" />
      <endpoint address="http://soanp11z1.rta.nsw.gov.au:9080/CHS_MTW_Incident-mediationWeb/sca/CHS_MTW_IncidentExport" binding="basicHttpBinding" bindingConfiguration="IncidentSoapHttpBinding_v0p1" contract="CHSIncident.IncidentPortType_v0p1" name="IncidentSoapHttpPort" />
      <endpoint address="http://localhost:9080/CHS_MTW_Plan-mediationWeb/sca/CHS_MTW_PlanExport" binding="basicHttpBinding" bindingConfiguration="PlanSoapHttpBinding_v0p1" contract="CHSplan.PlanPortType_v0p1" name="PlanSoapHttpPort" />
      <endpoint address="http://localhost:9080/CHS_MTW_Route-mediationWeb/sca/CHS_MTW_RouteExport" binding="basicHttpBinding" bindingConfiguration="RouteSoapHttpBinding_v0p1" contract="CHSRoute.RoutePortType_v0p1" name="RouteSoapHttpPort" />
      <endpoint address="http://localhost:9080/CHS_MTW_Sensor-mediationWeb/sca/CHS_MTW_SensorExport" binding="basicHttpBinding" bindingConfiguration="SensorSoapHttpBinding_v0p1" contract="CHSSensor.SensorPortType_v0p1" name="SensorSoapHttpPort" />
      <endpoint address="http://soanp11z1.rta.nsw.gov.au:9080/CHS_MTW_TrafficSubCentre-mediationWeb/sca/CHS_MTW_TrafficSubCentreExport" binding="basicHttpBinding" bindingConfiguration="TrafficSubCentreSoapHttpBinding_v0p1" contract="CHSTrafficSubCentre.TrafficSubCentrePortType_v0p1" name="TrafficSubCentreSoapHttpPort" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="TransportInfrastructureAssetSOAPBinding_v0p1" contract="CHSTransportInfrastructreAsset.TransportInfrastructureAssetPortType_v0p1" name="TransportInfrastructureAssetSOAP" />
      <endpoint address="http://localhost:9080/CHS_MTW_Weather-mediationWeb/sca/CHS_MTW_WeatherExport" binding="basicHttpBinding" bindingConfiguration="WeatherSoapHttpBinding_v0p1" contract="CHSWeather.WeatherPortType_v0p1" name="WeatherSoapHttpPort" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="DeviceSOAPBinding_v0p1" contract="MMDevice.DevicePortType_v0p1" name="DeviceSOAP" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="DeviceControlSOAPBinding_v0p11" contract="MMDeviceControl.DeviceControlPortType_v0p1" name="DeviceControlSOAP1" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="IncidentSOAPBinding_v0p1" contract="MMIncident.IncidentPortType_v0p1" name="IncidentSOAP" />
      <endpoint address="http://localhost:9080/CHS_MTW_Plan-mediationWeb/sca/CHS_MTW_PlanExport" binding="basicHttpBinding" bindingConfiguration="PlanSOAPBinding_v0p1" contract="MMPlan.PlanPortType_v0p1" name="PlanSoapPort" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="RouteSOAPBinding_v0p1" contract="MMRoute.RoutePortType_v0p1" name="RouteSOAP" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="TrafficSubCentreSOAPBinding_v0p1" contract="MMTraficSubCentre.TrafficSubCentrePortType_v0p1" name="TrafficSubCentreSOAP" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="TransportInfrastructureAssetSOAPBinding_v0p11" contract="MMTransportInfrastuctureAsset.TransportInfrastructureAssetPortType_v0p1" name="TransportInfrastructureAssetSOAP1" />
      <endpoint address="http://localhost:9080/CHS_MTW_Weather-mediationWeb/sca/CHS_MTW_WeatherExport" binding="basicHttpBinding" bindingConfiguration="WeatherSoapHttpBinding_v0p11" contract="MMWeather.WeatherPortType_v0p1" name="WeatherSoapHttpPort1" />
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="DeviceSoapHttpBinding_v0p11" contract="TMCDevice.DevicePortType_v0p1" name="DeviceSoapHttpPort1" />
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="IncidentSoapHttpBinding_v0p11" contract="TMCIncident.IncidentPortType_v0p1" name="IncidentSoapHttpPort1" />
      <endpoint address="http://localhost:9080/CHS_MTW_Plan-mediationWeb/sca/CHS_MTW_PlanExport" binding="basicHttpBinding" bindingConfiguration="PlanSOAPBinding_v0p11" contract="TMCplan.PlanPortType_v0p1" name="PlanSoapPort1" />
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="RouteSoapHttpBinding_v0p11" contract="TMCRoute.RoutePortType_v0p1" name="RouteSoapHttpPort1" />
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="SensorSoapHttpBinding_v0p11" contract="TMCSensor.SensorPortType_v0p1" name="SensorSoapHttpPort1" />
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="TrafficSubCentreSoapHttpBinding_v0p11" contract="TMCTrafficSubCentre.TrafficSubCentrePortType_v0p1" name="TrafficSubCentreSoapHttpPort1" />
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="WeatherSoapHttpBinding_v0p12" contract="TMCWeather.WeatherPortType_v0p1" name="WeatherSoapHttpPort2" />
      <endpoint address="http://www.example.org/" binding="basicHttpBinding" bindingConfiguration="TransportInfrastructureAssetSOAPBinding_v0p12" contract="TMCTransportInfrastructureAsset.TransportInfrastructureAssetPortType_v0p1" name="TransportInfrastructureAssetSOAP2" />
      <endpoint address="http://tmdd.owner.center.com/c2cxml/" binding="basicHttpBinding" bindingConfiguration="DeviceSoapHttpBinding_v0p12" contract="TransportDevice.DevicePortType_v0p1" name="DeviceSoapHttpPort2" />
    </client>
  </system.serviceModel>
</configuration>